name: Build Iridium

on: [pull_request, push]

jobs:
  build:
    strategy:
      matrix:
        java: [21] # Java LTS
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v3

      - name: Setup JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'
          cache: gradle

      - name: Make Gradle Wrapper Executable
        run: chmod +x ./gradlew

      - name: Build
        run: ./gradlew build

      # ✅ Upload artifact (để tải file build)
      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: Iridium-Build
          path: |
            build/libs/*.jar
